USE [master]
GO
/****** Object:  Database [QL_BanHoa]    Script Date: 21/12/2025 7:27:53 SA ******/
CREATE DATABASE [QL_BanHoa]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_BanHoa', FILENAME = N'D:\SQL2022\MSSQL16.SQLEXPRESS\MSSQL\DATA\QL_BanHoa.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QL_BanHoa_log', FILENAME = N'D:\SQL2022\MSSQL16.SQLEXPRESS\MSSQL\DATA\QL_BanHoa_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_BanHoa].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_BanHoa]
GO
/****** Object:  Table [dbo].[BinhLuan]    Script Date: 21/12/2025 7:27:53 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BinhLuan](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaHoa] [int] NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[NoiDung] [nvarchar](500) NOT NULL,
	[SoSao] [int] NOT NULL,
	[Ngay] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblChiTietHoaDon]    Script Date: 21/12/2025 7:27:53 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblChiTietHoaDon](
	[MaHD] [int] NOT NULL,
	[MaHoa] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[GiaBan] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaHoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDanhMucHoa]    Script Date: 21/12/2025 7:27:53 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDanhMucHoa](
	[MaDM] [int] IDENTITY(1,1) NOT NULL,
	[TenDM] [nvarchar](100) NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblHinhAnh]    Script Date: 21/12/2025 7:27:53 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHinhAnh](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaHoa] [int] NULL,
	[HinhAnh] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblHoa]    Script Date: 21/12/2025 7:27:53 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHoa](
	[MaHoa] [int] IDENTITY(1,1) NOT NULL,
	[TenHoa] [nvarchar](200) NULL,
	[GiaBan] [decimal](18, 2) NULL,
	[MoTa] [nvarchar](max) NULL,
	[AnhDaiDien] [nvarchar](255) NULL,
	[DonViTinh] [nvarchar](50) NULL,
	[MauSacChuDao] [nvarchar](100) NULL,
	[MaDM] [int] NULL,
	[MaLoaiChinh] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblHoaDon]    Script Date: 21/12/2025 7:27:53 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHoaDon](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NULL,
	[MaNV] [int] NULL,
	[NgayLap] [datetime] NULL,
	[TongTien] [decimal](18, 2) NULL,
	[TinhTrang] [int] NULL,
	[DiaChiGiaoHang] [nvarchar](255) NULL,
	[DaThanhToan] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblKhachHang]    Script Date: 21/12/2025 7:27:53 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblKhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](100) NULL,
	[MatKhau] [nvarchar](100) NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[NamSinh] [int] NULL,
	[Avarta] [nvarchar](255) NULL,
	[DienThoai] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblLoaiHoaChinh]    Script Date: 21/12/2025 7:27:53 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLoaiHoaChinh](
	[MaLoaiChinh] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiChinh] [nvarchar](100) NULL,
	[MoTa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiChinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblNhanVien]    Script Date: 21/12/2025 7:27:53 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNhanVien](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[MatKhau] [nvarchar](100) NULL,
	[TenNV] [nvarchar](100) NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[NamSinh] [int] NULL,
	[VaiTro] [int] NULL,
	[TaiKhoan] [nchar](100) NULL,
 CONSTRAINT [PK__tblNhanV__2725D70AE64377F1] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTinhTrang]    Script Date: 21/12/2025 7:27:53 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTinhTrang](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TinhTrangHoaDon] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblVaiTro]    Script Date: 21/12/2025 7:27:53 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblVaiTro](
	[IDVaiTro] [int] IDENTITY(1,1) NOT NULL,
	[TenVaiTro] [nvarchar](50) NULL,
	[MoTa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BinhLuan] ON 

INSERT [dbo].[BinhLuan] ([Id], [MaHoa], [HoTen], [NoiDung], [SoSao], [Ngay]) VALUES (1, 1, N'Minh Khoa', N'Hoa rất đẹp, người yêu tôi rất thích! Giao hàng nhanh.', 5, CAST(N'2025-11-02T10:00:00.000' AS DateTime))
INSERT [dbo].[BinhLuan] ([Id], [MaHoa], [HoTen], [NoiDung], [SoSao], [Ngay]) VALUES (2, 2, N'Lan Anh', N'Lẵng hoa khai trương nhìn sang trọng, tuy nhiên giao hơi trễ 30 phút.', 4, CAST(N'2025-11-03T11:00:00.000' AS DateTime))
INSERT [dbo].[BinhLuan] ([Id], [MaHoa], [HoTen], [NoiDung], [SoSao], [Ngay]) VALUES (3, 3, N'Hữu Tín', N'Giỏ hoa Ly thơm lắm, mẹ mình rất ưng ý. Sẽ ủng hộ shop tiếp.', 5, CAST(N'2025-11-03T14:30:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[BinhLuan] OFF
GO
INSERT [dbo].[tblChiTietHoaDon] ([MaHD], [MaHoa], [SoLuong], [GiaBan]) VALUES (1, 1, 1, CAST(950000.00 AS Decimal(18, 2)))
INSERT [dbo].[tblChiTietHoaDon] ([MaHD], [MaHoa], [SoLuong], [GiaBan]) VALUES (2, 2, 1, CAST(1200000.00 AS Decimal(18, 2)))
INSERT [dbo].[tblChiTietHoaDon] ([MaHD], [MaHoa], [SoLuong], [GiaBan]) VALUES (2, 3, 1, CAST(750000.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[tblDanhMucHoa] ON 

INSERT [dbo].[tblDanhMucHoa] ([MaDM], [TenDM], [GhiChu]) VALUES (1, N'Hoa sinh nhật', N'Hoa chúc mừng sinh nhật')
INSERT [dbo].[tblDanhMucHoa] ([MaDM], [TenDM], [GhiChu]) VALUES (2, N'Hoa khai trương', N'Hoa chúc mừng khai trương, cửa hàng mới')
INSERT [dbo].[tblDanhMucHoa] ([MaDM], [TenDM], [GhiChu]) VALUES (3, N'Hoa tình yêu', N'Hoa cho các cặp đôi')
SET IDENTITY_INSERT [dbo].[tblDanhMucHoa] OFF
GO
SET IDENTITY_INSERT [dbo].[tblHoa] ON 

INSERT [dbo].[tblHoa] ([MaHoa], [TenHoa], [GiaBan], [MoTa], [AnhDaiDien], [DonViTinh], [MauSacChuDao], [MaDM], [MaLoaiChinh]) VALUES (1, N'Bó hồng đỏ 99 đóa', CAST(950000.00 AS Decimal(18, 2)), N'Bó hoa tình yêu vĩnh cửu với 99 bông hồng đỏ thắm.', N'hoa-hong-99.jpg', N'Bó', N'Đỏ', 3, 1)
INSERT [dbo].[tblHoa] ([MaHoa], [TenHoa], [GiaBan], [MoTa], [AnhDaiDien], [DonViTinh], [MauSacChuDao], [MaDM], [MaLoaiChinh]) VALUES (2, N'Lẵng hoa khai trương Phát Lộc', CAST(1200000.00 AS Decimal(18, 2)), N'Lẵng hoa kết hợp Hướng Dương và hoa Ly, chúc mừng kinh doanh phát tài.', N'khai-truong-phat-loc.jpg', N'Lẵng', N'Vàng', 2, 3)
INSERT [dbo].[tblHoa] ([MaHoa], [TenHoa], [GiaBan], [MoTa], [AnhDaiDien], [DonViTinh], [MauSacChuDao], [MaDM], [MaLoaiChinh]) VALUES (3, N'Giỏ hoa Ly chúc mừng sinh nhật', CAST(750000.00 AS Decimal(18, 2)), N'Giỏ hoa Ly thơm ngát, màu sắc trang nhã, phù hợp tặng sinh nhật sếp hoặc mẹ.', N'gio-hoa-ly.jpg', N'Giỏ', N'Hồng', 1, 2)
SET IDENTITY_INSERT [dbo].[tblHoa] OFF
GO
SET IDENTITY_INSERT [dbo].[tblHoaDon] ON 

INSERT [dbo].[tblHoaDon] ([MaHD], [MaKH], [MaNV], [NgayLap], [TongTien], [TinhTrang], [DiaChiGiaoHang], [DaThanhToan]) VALUES (1, 1, NULL, CAST(N'2025-11-01T10:30:00.000' AS DateTime), CAST(950000.00 AS Decimal(18, 2)), 1, N'200 Nguyễn Xí, HCM', 0)
INSERT [dbo].[tblHoaDon] ([MaHD], [MaKH], [MaNV], [NgayLap], [TongTien], [TinhTrang], [DiaChiGiaoHang], [DaThanhToan]) VALUES (2, 2, NULL, CAST(N'2025-11-02T14:00:00.000' AS DateTime), CAST(1950000.00 AS Decimal(18, 2)), 2, N'15 Cầu Giấy, HN', 0)
INSERT [dbo].[tblHoaDon] ([MaHD], [MaKH], [MaNV], [NgayLap], [TongTien], [TinhTrang], [DiaChiGiaoHang], [DaThanhToan]) VALUES (3, 3, NULL, CAST(N'2025-11-03T09:15:00.000' AS DateTime), CAST(800000.00 AS Decimal(18, 2)), 3, N'100 Phan Văn Trị, Bình Thạnh', 1)
SET IDENTITY_INSERT [dbo].[tblHoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[tblKhachHang] ON 

INSERT [dbo].[tblKhachHang] ([MaKH], [TenKH], [MatKhau], [GioiTinh], [NamSinh], [Avarta], [DienThoai], [Email], [DiaChi]) VALUES (1, N'Nguyễn Văn A', N'123456', N'Nam', 1995, N'avt1.jpg', N'0909123456', N'a@gmail.com', N'140 Lê Trọng Tấn, Tây Thạnh, Tân Phú, TP.HCM')
INSERT [dbo].[tblKhachHang] ([MaKH], [TenKH], [MatKhau], [GioiTinh], [NamSinh], [Avarta], [DienThoai], [Email], [DiaChi]) VALUES (2, N'Lê Thị B', N'abcdef', N'Nữ', 1998, N'avt2.jpg', N'0911222333', N'b@gmail.com', N'15 Cầu Giấy, HN')
INSERT [dbo].[tblKhachHang] ([MaKH], [TenKH], [MatKhau], [GioiTinh], [NamSinh], [Avarta], [DienThoai], [Email], [DiaChi]) VALUES (3, N'Trần Minh K', N'kieuhoa', N'Nam', 2000, N'avt3.jpg', N'0987654321', N'k@yahoo.com', N'100 Phan Văn Trị, Bình Thạnh')
SET IDENTITY_INSERT [dbo].[tblKhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[tblLoaiHoaChinh] ON 

INSERT [dbo].[tblLoaiHoaChinh] ([MaLoaiChinh], [TenLoaiChinh], [MoTa]) VALUES (1, N'Hoa Hồng', N'Biểu tượng của tình yêu')
INSERT [dbo].[tblLoaiHoaChinh] ([MaLoaiChinh], [TenLoaiChinh], [MoTa]) VALUES (2, N'Hoa Ly', N'Sang trọng và thanh cao')
INSERT [dbo].[tblLoaiHoaChinh] ([MaLoaiChinh], [TenLoaiChinh], [MoTa]) VALUES (3, N'Hoa Hướng Dương', N'Tượng trưng cho tương lai tươi sáng')
SET IDENTITY_INSERT [dbo].[tblLoaiHoaChinh] OFF
GO
SET IDENTITY_INSERT [dbo].[tblNhanVien] ON 

INSERT [dbo].[tblNhanVien] ([MaNV], [MatKhau], [TenNV], [GioiTinh], [NamSinh], [VaiTro], [TaiKhoan]) VALUES (1, N'admin123', N'Nguyễn Hoài Phong', N'Nam', 1990, 1, N'admin123@gmail.com                                                                                  ')
INSERT [dbo].[tblNhanVien] ([MaNV], [MatKhau], [TenNV], [GioiTinh], [NamSinh], [VaiTro], [TaiKhoan]) VALUES (2, N'nv123', N'Đinh Thành Đạt', N'Nam', 1990, 2, N'nv123@gmail.com                                                                                     ')
SET IDENTITY_INSERT [dbo].[tblNhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[tblTinhTrang] ON 

INSERT [dbo].[tblTinhTrang] ([ID], [TinhTrangHoaDon]) VALUES (1, N'Đang chờ xử lý')
INSERT [dbo].[tblTinhTrang] ([ID], [TinhTrangHoaDon]) VALUES (2, N'Đang giao hàng')
INSERT [dbo].[tblTinhTrang] ([ID], [TinhTrangHoaDon]) VALUES (3, N'Đã giao hàng')
SET IDENTITY_INSERT [dbo].[tblTinhTrang] OFF
GO
SET IDENTITY_INSERT [dbo].[tblVaiTro] ON 

INSERT [dbo].[tblVaiTro] ([IDVaiTro], [TenVaiTro], [MoTa]) VALUES (1, N'Admin', N'Quản trị viên, toàn quyền')
INSERT [dbo].[tblVaiTro] ([IDVaiTro], [TenVaiTro], [MoTa]) VALUES (2, N'Nhân viên', N'Nhân viên xử lý đơn hàng')
SET IDENTITY_INSERT [dbo].[tblVaiTro] OFF
GO
ALTER TABLE [dbo].[BinhLuan]  WITH CHECK ADD  CONSTRAINT [FK_BinhLuan_tblHoa] FOREIGN KEY([MaHoa])
REFERENCES [dbo].[tblHoa] ([MaHoa])
GO
ALTER TABLE [dbo].[BinhLuan] CHECK CONSTRAINT [FK_BinhLuan_tblHoa]
GO
ALTER TABLE [dbo].[tblChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MaHoa])
REFERENCES [dbo].[tblHoa] ([MaHoa])
GO
ALTER TABLE [dbo].[tblChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[tblHoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[tblHinhAnh]  WITH CHECK ADD FOREIGN KEY([MaHoa])
REFERENCES [dbo].[tblHoa] ([MaHoa])
GO
ALTER TABLE [dbo].[tblHoa]  WITH CHECK ADD FOREIGN KEY([MaDM])
REFERENCES [dbo].[tblDanhMucHoa] ([MaDM])
GO
ALTER TABLE [dbo].[tblHoa]  WITH CHECK ADD FOREIGN KEY([MaLoaiChinh])
REFERENCES [dbo].[tblLoaiHoaChinh] ([MaLoaiChinh])
GO
ALTER TABLE [dbo].[tblHoaDon]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[tblKhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[tblHoaDon]  WITH CHECK ADD  CONSTRAINT [FK__tblHoaDon__MaNV__5165187F] FOREIGN KEY([MaNV])
REFERENCES [dbo].[tblNhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[tblHoaDon] CHECK CONSTRAINT [FK__tblHoaDon__MaNV__5165187F]
GO
ALTER TABLE [dbo].[tblHoaDon]  WITH CHECK ADD FOREIGN KEY([TinhTrang])
REFERENCES [dbo].[tblTinhTrang] ([ID])
GO
ALTER TABLE [dbo].[tblNhanVien]  WITH CHECK ADD  CONSTRAINT [FK__tblNhanVi__VaiTr__534D60F1] FOREIGN KEY([VaiTro])
REFERENCES [dbo].[tblVaiTro] ([IDVaiTro])
GO
ALTER TABLE [dbo].[tblNhanVien] CHECK CONSTRAINT [FK__tblNhanVi__VaiTr__534D60F1]
GO
USE [master]
GO
